*{
    margin: 0;
    padding: 0;
    background-color:azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

header a{
    background-color: black;
    padding: 1%;
    color: white;
    text-decoration: none;
    left: 50dvw;
    font-size: 2dvh;
}

.navbar-item{
    border: 2px solid white;
    min-height: 3vh;
    width: 100%;
}

#welcome{
    max-width: fit-content;
    font-size: 20px;
}

#welcome h4{
    max-width: fit-content;
    align-items: center;
    position: relative;
    left: 42vw;
    color: rgb(203, 6, 6);
    font-weight: bolder;
    border-bottom: 2px solid rgb(174, 174, 174);
}

#welcome span{
    position: relative;
    left: 36vw;
}

.row-1{
    display: flex;
    
}

.row-1 img{
    max-width: 10vw;
}